# Match Colab notebook versions for compatibility
torch>=2.8.0
triton>=3.4.0
torchvision
bitsandbytes
transformers==4.56.2
tokenizers
trl==0.22.2
pyyaml==6.0.2
datasets
unsloth_zoo[base] @ git+https://github.com/unslothai/unsloth-zoo
unsloth[base] @ git+https://github.com/unslothai/unsloth
git+https://github.com/triton-lang/triton.git@05b2c186c1b6c9a08375389d5efe9cb4c401c075#subdirectory=python/triton_kernels
