build
*.egg-info
.vscode
logs
**/__pycache__
**/.DS_Store
**/*.pyc
.pytest_cache
# experiment tracking
mlruns
wandb
lightning_logs
checkpoints/*
# temporary files
tmp*
# data files
data/*
doc/tmp_notes

