[MESSAGES CONTROL]
disable=all
enable=
  abstract-class-instantiated,
  abstract-method,
  access-member-before-definition,
  anomalous-backslash-in-string,
  anomalous-unicode-escape-in-string,
  apply-builtin,
  arguments-differ,
  arguments-out-of-order,
  assert-on-tuple,
  assign-to-new-keyword,
  assigning-non-slot,
  assignment-from-no-return,
  assignment-from-none,
  astroid-error,
  backtick,
  bad-classmethod-argument,
  bad-except-order,
  bad-exception-context,
  bad-format-character,
  bad-format-string,
  bad-format-string-key,
  bad-indentation,
  bad-inline-option,
  bad-mcs-classmethod-argument,
  bad-mcs-method-argument,
  bad-open-mode,
  bad-option-value,
  bad-python3-import,
  bad-reversed-sequence,
  bad-staticmethod-argument,
  bad-str-strip-call,
  bad-string-format-type,
  bad-super-call,
  bad-thread-instantiation,
  bad-whitespace,
  bare-except,
  basestring-builtin,
  binary-op-exception,
  blacklisted-name,
  buffer-builtin,
  c-extension-no-member,
  catching-non-exception,
  cell-var-from-loop,
  chained-comparison,
  class-variable-slots-conflict,
  cmp-builtin,
  cmp-method,
  coerce-builtin,
  coerce-method,
  comparison-with-callable,
  comparison-with-itself,
  comprehension-escape,
  confusing-with-statement,
  consider-iterating-dictionary,
  consider-merging-isinstance,
  consider-swap-variables,
  consider-using-dict-comprehension,
  consider-using-enumerate,
  consider-using-get,
  consider-using-in,
  consider-using-join,
  consider-using-set-comprehension,
  consider-using-sys-exit,
  consider-using-ternary,
  continue-in-finally,
  cyclic-import,
  dangerous-default-value,
  delslice-method,
  deprecated-itertools-function,
  dict-items-not-iterating,
  dict-iter-method,
  dict-iter-missing-items,
  dict-keys-not-iterating,
  dict-values-not-iterating,
  dict-view-method,
  div-method,
  duplicate-argument-name,
  duplicate-bases,
  duplicate-except,
  duplicate-key,
  duplicate-string-formatting-argument,
  empty-docstring,
  eq-without-hash,
  eval-used,
  exception-escape,
  exception-message-attribute,
  exec-used,
  execfile-builtin,
  expression-not-assigned,
  fatal,
  file-builtin,
  file-ignored,
  filter-builtin-not-iterating,
  fixme,
  format-combined-specification,
  format-needs-mapping,
  function-redefined,
  getslice-method,
  global-at-module-level,
  global-statement,
  global-variable-not-assigned,
  global-variable-undefined,
  hex-method,
  idiv-method,
  implicit-str-concat-in-sequence,
  import-error,
  import-outside-toplevel,
  import-self,
  inconsistent-mro,
  inconsistent-return-statements,
  indexing-exception,
  inherit-non-class,
  init-is-generator,
  input-builtin,
  intern-builtin,
  invalid-all-object,
  invalid-characters-in-docstring,
  invalid-envvar-default,
  invalid-envvar-value,
  invalid-format-index,
  invalid-length-returned,
  invalid-metaclass,
  invalid-overridden-method,
  invalid-sequence-index,
  invalid-slice-index,
  invalid-slots,
  invalid-slots-object,
  invalid-star-assignment-target,
  invalid-str-codec,
  invalid-unary-operand-type,
  keyword-arg-before-vararg,
  len-as-condition,
  line-too-long,
  literal-comparison,
  locally-disabled,
  logging-format-truncated,
  logging-not-lazy,
  logging-unsupported-format,
  long-builtin,
  lost-exception,
  map-builtin-not-iterating,
  metaclass-assignment,
  method-check-failed,
  method-hidden,
  misplaced-bare-raise,
  misplaced-comparison-constant,
  misplaced-format-function,
  misplaced-future,
  missing-final-newline,
  missing-format-argument-key,
  missing-format-attribute,
  missing-format-string-key,
  missing-kwoa,
  missing-parentheses-for-call-in-test,
  mixed-format-string,
  mixed-indentation,
  mixed-line-endings,
  multiple-imports,
  multiple-statements,
  next-method-called,
  next-method-defined,
  no-classmethod-decorator,
  no-else-break,
  no-else-continue,
  no-else-raise,
  no-init,
  no-member,
  no-method-argument,
  no-name-in-module,
  no-self-argument,
  no-staticmethod-decorator,
  no-value-for-parameter,
  non-iterator-returned,
  non-parent-init-called,
  nonexistent-operator,
  nonlocal-and-global,
  nonlocal-without-binding,
  nonzero-method,
  not-a-mapping,
  not-an-iterable,
  not-async-context-manager,
  not-callable,
  not-context-manager,
  not-in-loop,
  notimplemented-raised,
  oct-method,
  old-raise-syntax,
  parameter-unpacking,
  parse-error,
  pointless-statement,
  pointless-string-statement,
  possibly-unused-variable,
  preferred-module,
  print-statement,
  property-with-parameters,
  protected-access,
  raising-bad-type,
  raising-format-tuple,
  raising-non-exception,
  raising-string,
  raw-checker-failed,
  raw_input-builtin,
  rdiv-method,
  redeclared-assigned-name,
  redefine-in-handler,
  redefined-argument-from-local,
  redefined-builtin,
  reduce-builtin,
  redundant-keyword-arg,
  redundant-unittest-assert,
  reimported,
  relative-beyond-top-level,
  reload-builtin,
  repeated-keyword,
  return-in-init,
  return-outside-function,
  self-assigning-variable,
  self-cls-assignment,
  setslice-method,
  shallow-copy-environ,
  signature-differs,
  simplifiable-if-expression,
  simplifiable-if-statement,
  simplify-boolean-expression,
  single-string-used-for-slots,
  singleton-comparison,
  standarderror-builtin,
  star-needs-assignment-target,
  stop-iteration-return,
  subprocess-popen-preexec-fn,
  subprocess-run-check,
  super-init-not-called,
  superfluous-parens,
  suppressed-message,
  syntax-error,
  sys-max-int,
  too-few-format-args,
  trailing-comma-tuple,
  trailing-newlines,
  trailing-whitespace,
  truncated-format-string,
  try-except-raise,
  unbalanced-tuple-unpacking,
  undefined-all-variable,
  undefined-loop-variable,
  undefined-variable,
  unexpected-keyword-arg,
  unexpected-line-ending-format,
  unexpected-special-method-signature,
  ungrouped-imports,
  unhashable-dict-key,
  unichr-builtin,
  unicode-builtin,
  unidiomatic-typecheck,
  unnecessary-comprehension,
  unnecessary-lambda,
  unnecessary-pass,
  unnecessary-semicolon,
  unneeded-not,
  unpacking-in-except,
  unpacking-non-sequence,
  unreachable,
  unrecognized-inline-option,
  unsubscriptable-object,
  unsupported-assignment-operation,
  unsupported-binary-operation,
  unsupported-delete-operation,
  unsupported-membership-test,
  unused-argument,
  unused-format-string-argument,
  unused-format-string-key,
  unused-import,
  unused-variable,
  unused-wildcard-import,
  use-symbolic-message-instead,
  used-before-assignment,
  used-prior-global-declaration,
  useless-else-on-loop,
  useless-import-alias,
  useless-object-inheritance,
  useless-return,
  useless-super-delegation,
  useless-suppression,
  using-cmp-argument,
  using-constant-test,
  wildcard-import,
  wrong-exception-operation,
  wrong-spelling-in-comment,
  wrong-spelling-in-docstring,
  xrange-builtin,
  xreadlines-attribute,
  yield-inside-async-function,
  yield-outside-function,
  zip-builtin-not-iterating,

[REPORTS]
output-format=colorized

[TYPECHECK]
extension-pkg-whitelist=cv2
generated-members=numpy.*, torch.*
