# TODO: Make dependencies optional as much as possible.
# pytorch-lightning==1.5.9
lightning==2.5.5
pytorch-lightning==2.5.5
# torchmetrics==0.7.0
torchmetrics==1.8.2
torch==2.5.1
torchvision==0.20.1
timm==1.0.12
numpy>=2.3,<3
tensorflow-cpu==2.20.0 ; platform_machine == "x86_64"
tensorflow==2.20.0 ; platform_machine != "x86_64"
albumentations>=1.4.0
coloredlogs>=15
scikit-image>=0.16.2
pandas
mlflow
tensorflow_datasets==4.9.9
wandb # seems to be required by lightning
kornia
transformers>=4.22.0
datasets==2.14.4
nltk
