# Make denpendencies optional.
pytorch-lightning==1.5.9
torchmetrics==0.7.0
torch==1.12.0
torchvision==0.13.0
timm==0.5.4
tensorflow>=2
coloredlogs>=15
scikit-image>=0.16.2
imgaug>=0.3.0
pandas
mlflow
tensorflow-addons
tensorflow_datasets
wandb # seems to be required by torch-lightning
kornia
