# torch and torchvision from base image (2.9.1+cu128)
# flash_attn from pre-built wheel
opencv-python==4.10.0.84
diffusers==0.31.0
transformers==4.49.0
tokenizers==0.21.0
accelerate==1.1.1
tqdm==4.67.1
imageio==2.37.0
easydict==1.13
ftfy==6.3.1
dashscope==1.20.14
imageio-ffmpeg==0.6.0
gradio==5.9.1
numpy==1.26.4
xfuser==0.4.1