torch==2.5.1
torchvision==0.20.1 
torchaudio==2.5.1
xformers==0.0.29.post1
optimum[quanto]
transformers==4.46.3
accelerate==1.1.1
bitsandbytes==0.45.0
sageattention==1.0.6
git+https://github.com/huggingface/diffusers.git@464374fb87610c53b2cf81e08d3df628fada3ce4
git+https://github.com/Howe2018/ParaAttention.git
torchao==0.7.0
imageio-ffmpeg==0.5.1
nvtx==0.2.10
opencv-python==4.10.0.84
imageio==2.36.1
