transformers==4.47.0
torch>=2.8.0
torchvision>=0.23.0
pillow==11.0.0
peft==0.13.2
bitsandbytes==0.45.0
accelerate==1.2.1
tensorboard==2.18.0
torchmetrics==1.6.0
tqdm==4.67.1
pycocotools==2.0.8
supervision==0.26.0
tensorflow==2.18.0
tf-keras==2.18.0
numpy==1.26.4
einops==0.8.0
jax==0.4.31
flax==0.10.2
datasets==3.2.0
