name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_test:
    env:
      DOCKER_BUILDKIT: "1"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver: docker-container
      - name: Build test image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          tags: cvlization-test:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Unit test
        run: |
          ./bin/ci-test.sh -vv
        env:
          CVL_DOCKER_IMAGE: cvlization-test:${{ github.sha }}
